$black: #000000;
$yellowGreen: rgb(0, 0, 0);
$yellow: rgb(0, 0, 0);
$royalblue: rgb(0, 0, 0);
$magenta: rgb(0, 0, 0);

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $black;
    overscroll-behavior: none;
    -ms-overflow-style: none;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.scroll-container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    will-change: transform;
    overflow-x: hidden;

    .ghost {
        width: 100vw;
    }
}

.thumbnails-container {
    position: relative;
    height: 100vh;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 0px 160px;
    background-color: $black;
    border: 40px solid $yellowGreen;

    .thumbnails {
        position: relative;
        display: flex;
        border: 20px solid $yellow;

        & > *:not(:last-child) {
            margin-right: 45px;
        }

        .thumbnail {
            width: 600px;
            height: 525px;
            background-color: $royalblue;
            border: 15px solid rgb(0, 0, 0);
        }
    }
}
